# /etc/crontab: system-wide crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# m h dom mon dow user	command
17 *	* * *	root    cd / && run-parts --report /etc/cron.hourly
25 6	* * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.daily )
47 6	* * 7	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.weekly )
52 6	1 * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.monthly )

28 8    * * *   root    /bin/sh /home/store/jd-docker/start_jd.sh >> /var/log/myjob0.log 2>&1

57 8    * * *   root    /bin/sh /home/store/jd-docker/start_jd.sh >> /var/log/myjob1.log 2>&1
57 14   * * *   root    /bin/sh /home/store/jd-docker/start_jd.sh >> /var/log/myjob2.log 2>&1
57 15   * * *   root    /bin/sh /home/store/jd-docker/start_jd.sh >> /var/log/myjob3.log 2>&1
57 16   * * *   root    /bin/sh /home/store/jd-docker/start_jd.sh >> /var/log/myjob4.log 2>&1
#
